@font-face {
  font-family: 'Ortica';
  src: url('fonts/Ortica-Bold.otf');
}

@font-face {
  font-family: 'Lisbeth';
  src: url('fonts/Lisbeth Display Regular.otf');
}


circle {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
-webkit-filter: drop-shadow(2px 5px 10px rgba(255,255,0,1));
}

.captions audio {
  width: 100%;
}

.captions {
  font-style: italic;
  width: 100%;
    font-size: 0.6em;
  line-height: 1.2em;
  font-family: 'Ortica';
  color: #777;
  padding:0.6em;
    background-color: rgba(255, 255, 227, 0.8);
  border-radius: 10px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
box-shadow: 0 0 5px rgba(255,255,0,0.95), 0 0 10px rgba(255,255,0,0.85), 0 0 28px rgba(255,255,0,0.75), 0 0 38px rgba(255,255,0,0.70);
}


@media screen and (min-width: 600px) {
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 400 15px/1.8 "SimSun", serif;
  color: #777;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /*overflow: hidden;*/
}

body::-webkit-scrollbar {
    display: none;
}

body {
  background-size: cover;
}

/* curved tags */
path {
  fill: transparent;
}


#bgimg-about, #bgimg-tell, #bgimg-brew {
  /* z-index: -1; */
  position: absolute;
}

#bgimg-about {
top:3%;
left:3%;
}

#bgimg-about img {
  width: 45%;
}

#bgimg-brew{
right:5%;
top:60%;
}

#bgimg-brew img {
  width: 45%;
}

#bgimg-tell{
right:0%;
top:10%;
}

#bgimg-tell img {
  width: 45%;
}


.bgimg-1 {
  /* background: url("../data/background_images/construction-index.jpg"); */
  /* background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-attachment: scroll; */
  /* height: 500vh; */
width: 100%;
  /* max-width: 2000px; */
  /* height:100%; */
  z-index: -2;
  position: absolute;
}

#bgpodcasts {
  width: 25%;
  z-index:-1;
  top: 30%;
  position: absolute;
}



.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", san-serif;
  /* color: #111; */
  color: #FFFFE3;
  font-weight: bold;
}


a, a:visited, a:active {
  color: #444;
}

.container {
  max-width: 900px;
  margin: auto;
}



.button.active {
  color: #fff;
}


#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}

.button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,0,1));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.button:hover {
  color: inherit;
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
text-shadow: 0 0 2px #fff, 0 0 3px #FFFF00, 0 0 4px #FFFF00, 0 0 8px #FFFF00, 0 0 10px #FFFF00, 0 0 12px #FFFF00, 0 0 14px #FFFF00; */
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
-webkit-filter: drop-shadow(2px 5px 10px rgba(255,255,0,1));

}

#toolbar {
  /* margin-top: 400px; */
  top: 110%;
  text-align: center;
  position: relative;
}

.tag {
  font-size: 0.8em;
  font-family: 'Ortica';
  fill: #FFFFE3;
display: none;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}

/* .footer {
  text-align: center;
} */

/* podcasts audio */

#slumber1, #slumber2, #slumber3 {
  left:6%;
  width: 14%;
  position:absolute;
  z-index: 1;
}

#slumber1 {
  margin: auto;
  top:42%;

}

#slumber2 {
  margin: auto;
  top:54%;
}

#slumber3 {
  margin: auto;
  top:66%;
}


/* svgs */
.map {
  top:15%;
  left:25%;
  position: absolute;
}

#svgGossip {
  top:1%;
  left:55%;
  position: absolute;
  max-width: 10%;
}

#svgFriendship {
  top:48%;
  left:20%;
  position: absolute;
  max-width: 10%;
}


#svgDiasporas {
  top:95%;
  left:50%;
  position: absolute;
  max-width: 10%;
}

#svgWitches {
  top:5%;
  left:35%;
  position: absolute;
  max-width: 15%;
}

#svgCare {
  top:35%;
  left:66%;
  position: absolute;
  max-width: 10%;
}



/* popup frame */
#popup-about {
  display: none;
  }

.popup, #popup-about {
  max-width: 40%;
  min-width: 20%;
  font-size: 0.8em;
  line-height: 1.2em;
  font-family: 'Ortica';
  z-index: 2;
  position: absolute;
  top: 20%;
  left:30%;
  background-color: #FFFFE3;
  border-radius: 10px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
box-shadow: 0 0 5px rgba(255,255,0,0.95), 0 0 10px rgba(255,255,0,0.85), 0 0 28px rgba(255,255,0,0.75), 0 0 38px rgba(255,255,0,0.70);
}

.popup img {
  width: 100%;
  /*height: 90%*/
}

.popup audio {
  width: 100%;
  /*height: 90%*/
}

.content {
  padding: 8% 3%;
  text-align: justify;
}

/* Style the close button */
.topleft {
  float: right;
  cursor: pointer;
  font-size: 100%;
  color: rgb(255,255,0);
  padding-right: 3%;
  font-size: 1.6em !important;
  margin-top:-24px;
}

/* audio streams */

.player {
  /* position: relative; */
  width: 500px;
  height: 60px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  border-radius: 2px;
  padding: 5 16px;
  img {
    margin-top: 5px;
    width: 60px;
    height: 50px;
  }
  .info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 50%;
    padding: 0 16px;
    .name {
      font-size: 15px;
      font-weight: 700;
    }
    .singer {
      font-size: 12px;
    }
  }
  .btns {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    div:nth-child(1) {
            font-size: 30px;
        }
        div:nth-child(2), div:nth-child(3) {
            font-size: 18px;
        }

  }
  .progress {
    position: absolute;
    height: 2px;
    left: 0;
    top: 0;
    background-color: #00a8ff;
  }
}

}













@media screen and (max-width: 600px) {
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 400 15px/1.8 "SimSun", serif;
    color: #777;
  }

  body {
    background-size: cover;
  }

  /* curved tags */
  path {
    fill: transparent;
  }

  #bgimg-about, #bgimg-tell, #bgimg-brew {
    /* z-index: -1; */
    position: absolute;
  }

  #bgimg-about {
  top:3%;
  left:-20%;
  }

  #bgimg-about img {
    width: 30%;
  }

  #bgimg-brew{
  left:-35%;
  top:70%;
  }

  #bgimg-brew img {
    width: 30%;
  }

  #bgimg-tell{
  left:30%;
  top:2%;
  }

  #bgimg-tell img {
    width: 30%;
  }


  .bgimg-1 {
    /* background: url("../data/background_images/construction-index.jpg"); */
    /* background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    background-attachment: scroll; */
    /* height: 500vh; */
    width: 200vw;
    /* max-width: 2000px; */
    /* height:100%; */
    z-index: -2;
    position: absolute;
  }

  #bgpodcasts {
    width: 90%;
    z-index:-1;
    top: 25%;
    left:5%;
    margin: auto 0;
    position: absolute;
  }



  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", san-serif;
    /* color: #111; */
    color: #FFFFE3;
    font-weight: bold;
  }


  a, a:visited, a:active {
    color: #444;
  }

  .container {
    max-width: 900px;
    margin: auto;
  }



  .button.active {
    color: #fff;
  }


  #vis {
    width: 940px;
    height: 600px;
    clear: both;
    margin-bottom: 10px;
  }

  .button {
    background: none;
  	color: inherit;
  	border: none;
  	padding: 0;
  	font: inherit;
  	cursor: pointer;
  	outline: inherit;
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,0,1));
  	-webkit-transition: all 0.5s linear;
  	-o-transition: all 0.5s linear;
  	transition: all 0.5s linear;
  }

  .button:hover {
    color: inherit;
    /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-shadow: 0 0 2px #fff, 0 0 3px #FFFF00, 0 0 4px #FFFF00, 0 0 8px #FFFF00, 0 0 10px #FFFF00, 0 0 12px #FFFF00, 0 0 14px #FFFF00; */
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  -webkit-filter: drop-shadow(2px 5px 10px rgba(255,255,0,1));

  }

  #toolbar {
    /* margin-top: 400px; */
    top: 110%;
    text-align: center;
    position: relative;
  }

  .tag {
    font-size: 26px;
    font-size: 0.5em;
    font-family: 'Ortica';
    fill: #FFFFE3;
  display: none;
  }

  .tooltip {
  	position: absolute;
  	top: 100px;
  	left: 100px;
    -moz-border-radius:5px;
  	border-radius: 5px;
    border: 2px solid #000;
    background: #fff;
  	opacity: .9;
    color: black;
  	padding: 10px;
  	width: 300px;
  	font-size: 12px;
  	z-index: 10;
  }

  .tooltip .title {
  	font-size: 13px;
  }

  .tooltip .name {
    font-weight:bold;
  }

  /* .footer {
    text-align: center;
  } */

  /* podcasts audio */

  #slumber1, #slumber2, #slumber3 {
    left:20%;
    width: 60%;
    position:absolute;
    z-index: 1;
  }

  #slumber1 {
    margin: auto;
    top:35%;

  }

  #slumber2 {
    margin: auto;
    top:43%;
  }

  #slumber3 {
    margin: auto;
    top:51%;
  }


  /* svgs */
  .map {
    top:85%;
    left:-40%;
    position: absolute;
    width: 500px;
  }


  #svgGossip {
    top:80%;
    left:25%;
    position: absolute;
    max-width: 10%;
  }

  #svgFriendship {
    top:70%;
    left:35%;
    position: absolute;
    max-width: 10%;
  }


  #svgDiasporas {
    top:70%;
    left:30%;
    position: absolute;
    max-width: 10%;
  }

  #svgWitches {
    top:70%;
    left:50%;
    position: absolute;
    max-width: 15%;
  }

  #svgCare {
    top:80%;
    left:66%;
    position: absolute;
    max-width: 10%;
  }



  /* popup frame */
  #popup-about {
    display: none;
    }

  .popup, #popup-about {
    max-width: 85%;
    min-width: 30%;
    font-size: 0.8em;
    line-height: 1.2em;
    font-family: 'Ortica';
    z-index: 2;
    position: absolute;
    top: 20%;
    left:0.5%;
    background-color: #FFFFE3;
    border-radius: 10px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  box-shadow: 0 0 5px rgba(255,255,0,0.95), 0 0 10px rgba(255,255,0,0.85), 0 0 28px rgba(255,255,0,0.75), 0 0 38px rgba(255,255,0,0.70);
  }

  .popup img {
    width: 90%;
    height: 90%
  }

  .content {
    padding: 8% 3%;
    text-align: justify;
  }

  /* Style the close button */
  .topleft {
    float: right;
    cursor: pointer;
    font-size: 100%;
    color: rgb(255,255,0);
    font-size: 1.6em !important;
    padding-right: 3%;
    margin-top:-24px;
  }

}

@font-face {
    font-family: iconfont;
    src: url('//static0.qianqian.com/web/st/font/iconfont-4e6.woff') format('woff')
}

.iconfont {
        font-family: iconfont!important;
        font-size: 35px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .icon-list:before {
        content: "\e603"
    }

    .icon-loop-single:before {
        content: "\e604"
    }

    .icon-arrow-right:before {
        content: "\e605"
    }

    .icon-loop:before {
        content: "\e606"
    }

    .icon-prev:before {
        content: "\e607"
    }

    .icon-favor:before {
        content: "\e608"
    }

    .icon-next:before {
        content: "\e60a"
    }

    .icon-download:before {
        content: "\e60b"
    }

    .icon-search:before {
        content: "\e60c"
    }

    .icon-zhanwei1:before {
        content: "\e610"
    }

    .icon-favor1:before {
        content: "\e618"
    }

    .icon-random:before {
        content: "\e619"
    }

    .icon-play:before {
        content: "\e616"
    }

    .icon-stop:before {
        content: "\e617"
    }

    .icon-mv:before {
        content: "\e61b"
    }

    .icon-arrow-down:before {
        content: "\e61d"
    }

    .icon-arrow-left:before {
        content: "\e61e"
    }

    .icon-arrow-up:before {
        content: "\e61f"
    }

    .icon-listen:before {
        content: "\e609"
    }

    .icon-round:before {
        content: "\e60d"
    }

    .icon-triangle:before {
        content: "\e60e"
    }

    .icon-information:before {
        content: "\e60f"
    }

    .icon-home:before {
        content: "\e611"
    }

    .icon-i:before {
        content: "\e612"
    }

    .icon-information-:before {
        content: "\e613"
    }

    .icon-bubble-filled-icon:before {
        content: "\e614"
    }

    .icon-round-right:before {
        content: "\e615"
    }

    .icon-vip:before {
        content: "\e61a"
    }

    .icon-word:before {
        content: "\e61c"
    }
